<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Musician Records</title>  
     {% load static %}  
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>  
<body>  
    <div class="container">
        <div class="jumbotron">
          <h1>XYX MUSIC DATABASE</h1>
        </div>
<table class="table table-striped table-bordered table-sm">  
    <thead class=".thead-dark">  
    <tr>  
        <th>Title</th>  
        <th>Album ID</th>  
        <th>CopyRight Data</th>
        <th>Format</th>
    </tr>  
    </thead>  
    <tbody>  
{% for album in albums %}  

    <tr>  
        <td>{{ album.Title }}</td>  
        <td>{{ album.Alubm_ID }}</td>  
        <td>{{ album.Copyright_Data }}</td>  
        <td>{{ album.Format }}</td> 

    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/" class="btn btn-primary">Home Page</a></center>  
</body>  
</html>  